docs/schemas/networkcommon.rng

<?xml version="1.0"?>
<!-- network-related definitions used in multiple grammars -->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

  <define name="virtualPortProfileID">
    <data type="string">
      <param name="maxLength">39</param>
    </data>
  </define>

  <define name="virtualPortProfile">
    <choice>
      <group>
        <element name="virtualport">
          <attribute name="type">
            <value>802.1Qbg</value>
          </attribute>
          <element name="parameters">
            <attribute name="managerid">
              <ref name="uint8range"/>
            </attribute>
            <attribute name="typeid">
              <ref name="uint24range"/>
            </attribute>
            <attribute name="typeidversion">
              <ref name="uint8range"/>
            </attribute>
            <optional>
              <attribute name="instanceid">
                <ref name="UUID"/>
              </attribute>
            </optional>
          </element>
        </element>
      </group>
      <group>
        <element name="virtualport">
          <attribute name="type">
            <value>802.1Qbh</value>
          </attribute>
          <element name="parameters">
            <attribute name="profileid">
              <ref name="virtualPortProfileID"/>
            </attribute>
          </element>
        </element>
      </group>
    </choice>
  </define>
</grammar>
