docs/schemas/secret.rng

<!-- A Relax NG schema for the libvirt secret properties XML format -->
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <ref name='secret'/>
  </start>

  <define name='secret'>
    <element name='secret'>
      <optional>
	<attribute name='ephemeral'>
	  <choice>
	    <value>yes</value>
	    <value>no</value>
	  </choice>
	</attribute>
      </optional>
      <optional>
	<attribute name='private'>
	  <choice>
	    <value>yes</value>
	    <value>no</value>
	  </choice>
	</attribute>
      </optional>
      <interleave>
	<optional>
	  <element name='uuid'>
	    <text/>
	  </element>
	</optional>
	<optional>
	  <element name='description'>
	    <text/>
	  </element>
	</optional>
	<optional>
	  <element name='usage'>
	    <choice>
	      <ref name='usagevolume'>
	    </choice>
	    <text/>
	  </element>
	</optional>
      </interleave>
    </element>
  </define>

  <define name='usagevolume'>
    <attribute name='type'>
      <value>volume</value>
    </attribute>
    <element name='volume'>
      <text/>
    </element>
  </define>
</grammar>
